:root {
    /* Primary */
    --clr-primary-red: hsl(0, 100%, 74%); 
    --clr-primary-green: hsl(154, 59%, 51%);

    /* Accent */
    --clr-accent-blue: hsl(248, 32%, 49%);

    /* Neutral */
    --clr-neutral-dark-blue: hsl(249, 10%, 26%);
    --clr-neutral-grayish-blue: hsl(246, 25%, 77%);

    /* Font */
    --fs-body: 1rem;
    --ff-base: 'Poppins', sans-serif;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

body {
    min-height: 100vh;
    font-family: var(--ff-base);
    font-size: var(--fs-body);
    background: url(images/bg-intro-mobile.png);
    background-color: var(--clr-primary-red);
    padding: 5.5rem 1.5rem;
    text-align: center;
    color: white;
}

main {
    border-radius: 8px;
    box-shadow: 0 8px 2px rgb(0 0 0 / 0.2);
}

@media (min-width: 800px) {
    body {
        background: url(images/bg-intro-desktop.png);
        background-color: var(--clr-primary-red);
    }
}

.intro > h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-bottom: 1.6rem;
}

.intro > p {
    line-height: 1.625rem;
}

.trial-prompt {
    background-color: var(--clr-accent-blue);
    padding: 1rem 3rem;
    border-radius: 8px;
    margin: 4rem 0 1.5rem 0;
    box-shadow: 0 8px 2px rgb(0 0 0 / 0.2);
}

.trial-prompt > span {
    font-weight: var(--fw-semibold);
}

.form-container > form {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-container input {
    padding: 1rem;
    border: 1px solid var(--clr-neutral-grayish-blue);
    border-radius: 4px;
    font-weight: var(--fw-semibold);
    font-size: 0.9rem;
}

.form-container button {
    text-transform: uppercase;
    font-weight: var(--fw-medium);
    background-color: var(--clr-primary-green);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 0.2);
}

.form-container p {
    color: var(--clr-neutral-grayish-blue);
    font-size: 0.7rem;
    font-weight: var(--fw-medium);
    padding: 0 1rem;
}

.form-container p > a {
    text-decoration: none;
    color: var(--clr-primary-red);
    font-weight: var(--fw-semibold);
}